form {
  label {
    display: block;
  }

  input {
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;

    &[type='radio'],
    &[type='checkbox'],
    &[type='reset'],
    &[type='submit'] {
      width: auto;
    }
  }
}
