{{ component_machine_name }}:
  label: {{ component_name }}
  description: Enter A Component Description
  template: {{ component_machine_name }}
  use: "@{{  theme_machine_name }}/{{ component_machine_name }}/{{ component_machine_name }}.twig"
  fields:
    heading:
      type: text
      label: Heading
      description: Heading of Section.
      preview: Occaecati earum adipisci laudantium
    body:
      type: text
      label: Body
      description: Body of Section.
      preview: Occaecati earum adipisci laudantium fugit harum possimus. Ipsum officia in ipsam aliquid. Quia quos rerum nesciunt ex. Alias doloremque aliquid tempora voluptatem rerum. Nesciunt nobis neque debitis neque numquam.
