{{ global_library }}:
  version: 1.0
  css:
    base:
      dist/css/global.css : {}
  js:
    #js/your_js.js : {}

local-tasks:
  version: 1.0
  css:
    component:
      dist/css/local-tasks.css : {}

{% for library in libraries %}
{{ library.library_name }}:
  version: {{ library.library_version }}
  css:
    component:
      dist/css/{{ library.library_name }}.css : {}
  js:
     #js/your_js.js : {}
{% endfor %}
